hostname {{ hostname }}
interface Loopback0
 ip address {{ loopback }} 255.255.255.255

router ospf 100
{% for net in networks %}
 network {{ net.network }} {{ net.wildcard }} area {{ ospf_area }}
{% endfor %}
enable secret Passw0rd!
banner motd ^Adding in some Templates!^
